ul  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.root {
  
  li {
    display: inline-flex;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      padding: 10px;
      border: 1px solid #212121;
      border-radius: 30px;
      cursor: pointer;
      color: #212121;

      &:hover {
        background-color: #000;
        color: #fff;
        user-select: none;
      }
    }
  }

  :global {
    .selected {
        a {
          background-color: #212121;
          color: #fff;
        }
    }
  }

}
